[package]
name = "commit--blog"
version = "0.1.0"
edition = "2021"

[dependencies]
git2 = "0.13"
httparse = "1.5"
keyring = { git = "https://github.com/hwchen/keyring-rs", tag = "v1.0.0rc1" }
oauth2 = "4.1"
serde = "1.0"
serde_json = "1.0"
structopt = "0.3"
webbrowser = "0.5"
